{% extends 'base.html' %}
{% load widget_tweaks %}

{% block contents %}

    

    <form method="post" action="{% url 'account_signup' %}">
    <div class="matu">
    {% csrf_token %}  
    {% if redirect_field_value %}
        <div class="group">
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        </div>
    {% endif %}
        <input type="reset" value="リセットする">
        <button type="submit" class="button buttonBlue">サインアップ
        <div class="ripples buttonRipples">
            <span class="ripplesCircle"></span>
        </div>
        </button>
        <script>
            var form = document.forms[0];
            form.onsubmit = function() {
              // エラーメッセージをクリアする
              form.password.setCustomValidity("");
              // パスワードの一致確認
              if (form.password.value != form.passwordConfirm.value) {
                // 一致していなかったら、エラーメッセージを表示する
                form.password.setCustomValidity("パスワードと確認用パスワードが一致しません");
              }
            };
            // 入力値チェックエラーが発生したときの処理
            form.addEventListener("invalid", function() {
              document.getElementById("errorMessage").innerHTML = "入力値にエラーがあります";
            }, false);
          </script>


          <div class = "comming">
                <ul style="list-style: none;">
                    <li><a href="login.html">すでにアカウントをお持ちの方はこちら</a></li>
                </ul>
          </div>  
          <div class = "comming">
            <ul style="list-style: none;">
                <li><a href = "index.html">ホームに戻る</a></li>
            </ul>
        </div>
    
    </div>
    </form>

{% endblock %}
    

    
