{% extends 'base.html' %}
{% load widget_tweaks %}

{% block contents %}


<body>            
            
<div id="QandA-2">
            
    <h1 class = "question">よくある質問</h1>
    <dl>
        <dt>開園時間は何時から何時までですか。</dt>
        <dd>大原図書館は午前９時から午後８時までです。<br>なお、下記のエリアは以下の通りです<br>絵本エリア：午前8:30から午後5:30まで。</dd>
    </dl>
    <dl>
        <dt>休刊日はいつですか。</dt>
        <dd>大原図書館は、毎月最終月曜日（特別整理期間を除き、祝日または12月31日の場合は直前の月曜が休館）<br>年末年始（12月31日から1月3日まで）<br>特別整理期間（年１回５日間）</dd>
    </dl>
                
                    
    <dl>
        <dt>マイページにログインするパスワードが分からなくなりました。</dt>
        <dd>パスワードの再発行は、問い合わせフォームにてお伝えください。</dd>
    </dl>
    <dl>
        <dt>駐車場はありますか。</dt>
        <dd>大原図書館の駐車場はございません。<br>名駅ちか駐車場（公共第1）をご利用の方は、最初の60分までの駐車料金が無料となります。<br>駐車券は2階インフォメーションへお持ちください。</dd>
    </dl>


    <div class = "comming">
        <ul style="list-style: none;">
            <li><a href = "{% url 'app:index' %}">ホームに戻る</a></li>
        </ul>
    </div>
</div>


           
</body>

</html>

{% endblock  %}